<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
  </p>
  <div>
  <h5><%= __('Cambio de idioma') %></h5>
  <% getLocales().forEach( locale => { %>
    <a href="/change-locale/<%= locale %>"><%= locale %></a>&nbsp;
  <% }) %>  
</div>
  <h2><%= __('Listado de Productos') %> Nodepop</h2>

    <% products.forEach(product => { %>
      <div class="elements">
        <div class="name"><p class="name-text"><%= product.name %></p> 
            <div class="price"><ul>Precio: <%= product.price %> </ul></div>
            <div class="sell"><ul>En Venta: <%= product.sell %> </ul></div>
            <div class="photo"><ul>Foto: <%= product.photo %> </ul></div>
            <div class="tags"><ul>Tags: <%= product.tags %> </ul></div>
        </div>
      </div>

    <% }) %>
  </body>
</html>
