body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.elements {
  display: flex;
  flex-direction: column;
  padding: 5px;
  
}

.name {
  border: solid 0.1px darkblue;
  margin: 1px;
  justify-content: center;
}


.name-text{
  margin-left: 10px;
  font-size: 1rem;
  

}
